*{
    margin: 0 0 0 0;
}
.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.scrolling-container{ 
    margin-top: 100px;
    z-index: 1;
    width: 90%;
    height: 2000px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.search-container{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9vh;
    border: black 1px solid;
    z-index: 1;
}
#search{ 
    width: 90%;
    height: 50%;
}
.sales-container{ 
    width: 90%;
    height: 200px;
    border: 1px black solid ;
}
.acommadation-container{ 
    width: 90%;
    height: 200px;
    border: 1px black solid ;
}
.activities-container{
    width: 90%;
    height: 200px;
    border: 1px black solid ;
}
.nav-bar {
    z-index: 1;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    border: 1px black solid;
}
.nav-bar i{
    font-size: 25px;
}